nav{
    margin-bottom: 20px;
    max-width: 100%;
    background-color: #e66224;
}

.nav_container{
    display: flex;
    padding: 10px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav_ul{
    display: flex;
    gap: 3rem;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}


.nav_logo{
    width: 150px;
    height: auto;
    
}

#carrito{
    width: 40px;
    height: auto;
    cursor: pointer;
}

.nav_content{
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav_text{
    color: #ffffff;
font-weight: bold;
}

body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.titulo_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 20px 30px;
    max-width: 100%;
}   

.titulo_container h1{
    color: #333;
    text-align: center;
}

#card_container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.card{
    border: 2px solid #e66224;
    border-radius: 10px;
    width: 300px;
    padding: 16px;
    text-align: center;
    overflow: auto;
}

.card img{
    width: 100%;
    height: auto;
} 

.card_button{
    background-color: #e66224;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.card_button:hover{
    background-color: #cc5120;
}

footer{
    margin-top: 40px;
    padding: 20px;
    background-color: #f1f1f1;
    max-width: 100%;

}
.footer_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    text-align: center;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
    max-width: 100%;
    max-height: 100%;

}

.footer_content img{
    width: 150px;
    height: auto;
}


